* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 14px;
  overflow: hidden;
  user-select: none;
}

/* COLORES */
.Colores {
  color: #2f86a6;
  color: #34be82;
  color: #2fdd92;
  color: #fef68a;
}
/* GENERAL */
#body-container {
  display: grid;
  grid-template-columns: 250px 3fr 1fr;
}
.hidden {
  visibility: none;
  opacity: 0;
}

.error-message {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0%;
  left: 0%;
  padding: 20px;
  width: 200px;
  height: 100px;
  color: #fff;
  border-radius: 20px;
  background-color: rgb(146, 52, 80);
}

/* HEADER */

#main-header {
  display: flex;
  background-color: #2f86a6;
  padding: 2px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  grid-column: 1/-1;
}

.logo-icon {
  stroke: #fff;
  width: 20px;
  height: 20px;
}

.icon-container {
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
}

.search-icon,
.delete-search-icon {
  stroke: #2f86a6;
  width: 16px;
  height: 16px;
}

#search-bar {
  display: flex;
  background-color: #e7fff5;
  padding: 6px 10px;
  border-radius: 2px;
  column-gap: 20px;
  width: 400px;
  transition: all 0.2s;
}

.delete-search-icon {
  margin-left: auto;
}

#search-bar input {
  border: none;
  background-color: inherit;
  color: inherit;
  font-weight: inherit;
  color: #000;
  font-weight: 100;
}

#search-bar:hover,
#search-bar:focus-within,
#search-bar:hover * {
  cursor: pointer;
  background-color: #f4fffa;
}

#search-bar input:focus {
  outline: none;
}

/* CATEGORIES */
#categories {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  row-gap: 10px;
  height: 100vh;
}

.category-list {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 0;
}

#sidebar-options {
  display: flex;
  justify-content: flex-end;
}
.sidebar-icons-container {
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
}

.add-icon {
  stroke: #2f86a6;
  width: 22px;
  cursor: pointer;
  transition: all 0.1s;
}

.add-icon:hover {
  width: 25px;
}

.category-icon {
  width: 18px;
  margin-left: 20px;
}
.category,
.category-add {
  display: flex;
  column-gap: 20px;
  padding: 5px 0;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.category {
  animation: append-animate-side 0.2s linear;
}

.new-category {
  font-size: inherit;
}
.category:hover {
  background-color: #fff;
}

.current {
  background-color: #f1f3f5 !important;
}
/* NOTES */
#notes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 200px;
}

.note {
  display: flex;
  opacity: 1;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fef68a;
  color: #000;
  width: 250px;
  height: 150px;
  place-self: center;
  border-radius: 5px;
  padding: 15px;
  overflow-wrap: break-word;
  transition: opacity 0.2s linear;
  animation: append-animate 0.3s linear;
}

.add-note {
  background-color: #b197fc;
  display: flex;
  width: 150px;
  height: 90px;
  place-self: center;
}

.add-note:hover {
  background-color: #7048e8bd;
  user-select: none;
}

.new-note-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #2fdd92;
  width: 250px;
  height: 150px;
  place-self: center;
  border-radius: 5px;
  border: 1px dashed;
  padding: 15px;
}

textarea {
  font-size: inherit;
  width: 95%;
  height: 80%;
  border: none;
  resize: none;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  color: rgb(5, 5, 5);
}

textarea::placeholder {
  color: rgba(90, 90, 90, 0.795);
}

.submit-note {
  background-color: white;
  width: 60px;
  height: 25px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px rgb(99, 99, 99);
  transition: background-color 0.2s;
}
.submit-note:hover {
  background-color: #f1f3f5;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-note-icon {
  width: 22px;
  cursor: pointer;
  transition: all 0.1s;
}

.delete-note-icon:hover {
  width: 25px;
}
/* OPCIONES */
#opciones {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
}

/* ANIMATIONS */
@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes append-animate-side {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
