* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 14px;
  overflow: hidden;
  user-select: none;
}

/* GENERAL */
#body-container {
  display: grid;
  grid-template-columns: 250px 3fr 1fr;
}
.hidden {
  visibility: none;
  opacity: 0;
}

.error-message {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0%;
  left: 0%;
  padding: 20px;
  width: 200px;
  height: 100px;
  color: #fff;
  border-radius: 20px;
  background-color: rgb(146, 52, 80);
}

/* HEADER */

#main-header {
  display: flex;
  background-color: #7950f2;
  padding: 2px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  grid-column: 1/-1;
}

.logo-icon {
  stroke: #fff;
  width: 20px;
  height: 20px;
  transition: width 0.2s, height 0.2s;
}

.menu-icon-container {
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
}

.search-icon,
.delete-search-icon {
  stroke: #b197fc;
  width: 16px;
  height: 16px;
}

#search-bar {
  display: flex;
  background-color: #e5dbff;
  padding: 6px 10px;
  border-radius: 2px;
  column-gap: 20px;
  width: 400px;
}

.delete-search-icon {
  margin-left: auto;
}

#search-bar input {
  border: none;
  background-color: inherit;
  color: inherit;
  font-weight: inherit;
  color: #000;
  font-weight: 100;
}

#search-bar:hover,
#search-bar:hover * {
  cursor: pointer;
  background-color: #f3f0ff;
}

#search-bar:focus-within {
  cursor: pointer;
  background-color: #f3f0ff;
}

#search-bar input:focus {
  outline: none;
}

/* CATEGORIES */
#categories {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  row-gap: 10px;
  height: 100vh;
}

.category-list {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 0;
}

#sidebar-options {
  display: flex;
  justify-content: flex-end;
}
.sidebar-icons-container {
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
}

.add-icon {
  stroke: #b197fc;
  width: 22px;
  cursor: pointer;
}

.add-icon:hover {
  width: 25px;
}

.category-icon {
  width: 18px;
  margin-left: 20px;
}
.category,
.category-add {
  display: flex;
  column-gap: 20px;
  padding: 5px 0;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.new-category {
  font-size: inherit;
}
.category:hover {
  background-color: #fff;
}

.current {
  background-color: #f1f3f5 !important;
}
/* NOTES */
#notes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 200px;
}

.note {
  background-color: #422b86;
  color: #fff;
  width: 250px;
  height: 150px;
  place-self: center;
  border-radius: 5px;
  box-shadow: 3px 3px rgb(99, 99, 99);
  padding: 15px;
  overflow-wrap: break-word;
}

.add-note {
  background-color: #b197fc;
  display: flex;
  width: 150px;
  height: 90px;
  place-self: center;
  border-radius: 5px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s, width 0.7s, height 0.7s;
  box-shadow: 3px 3px rgb(99, 99, 99);
}

.add-note:hover {
  background-color: #7048e8bd;
  user-select: none;
}

.new-note-form {
  background-color: #422b86;
  width: 250px;
  height: 150px;
  place-self: center;
  border-radius: 5px;
  box-shadow: 3px 3px rgb(99, 99, 99);
  padding: 15px;
}

textarea {
  font-size: inherit;
  width: 95%;
  height: 80%;
  border: none;
  resize: none;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  color: #fff;
}

textarea::placeholder {
  color: rgba(255, 255, 255, 0.658);
}

.submit-note {
  background-color: white;
  width: 60px;
  height: 25px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  box-shadow: 3px 3px rgb(99, 99, 99);
  transition: background-color 0.2s;
}
.submit-note:hover {
  background-color: #f1f3f5;
}

.note-footer {
  display: flex;
  justify-content: flex-end;
}
/* OPCIONES */
#opciones {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
}
